*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

.container{
    font-size: 1.6rem;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #0b0421;
}

#left, #right{
    min-width: 30rem;
    min-height: 40rem;
    margin: 2rem;
    border: 2px dashed white;
}
.list{
    background: #e91e63;
    height: 6rem;
    display: flex;
    align-items: center;
    cursor: grab;
    margin: 3rem;
    color: #fff;
    padding-right: 2rem;
    border-radius: 1rem;
}
.list img{
    width: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 2rem;
}


