*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    height: 100vh;
    background:#141a34;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form{
    background: #fff;
    width: 90%;
    max-width: 50rem;
    padding:5rem 3rem 2rem;
    border-radius:4px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.5);
    position: relative;
}


.fa-paper-plane{
    background:#fff;
    padding: 3rem 3rem;
    padding-right: 6.1rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.6rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    position: relative;
}

.input-group label{
    flex-basis: 28%;  /*Sets the label's width to roughly 1/4 of the row.*/
    user-select: none;
}

.input-group input, .input-group textarea{
    flex-basis: 68%; /* Sets the input's width to the remaining space. */
    background: transparent;
    border: 0;
    outline: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 1.6rem;
}

::placeholder{
    font-size: 1.4rem;
    color: lightgray;
}

label::after{
    content: "*";
    color: red;
}

form button{
    background: #141a34;
    color:#fff;
    border-radius:4px;
    border: 1px solid rgba(255,255,255,0.7);
    padding: 1rem 4rem;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 3rem auto 1rem;
}

.input-group span{
    position: absolute;
    right:1.7rem;
    bottom: 1.2rem;
    font-size: 1.4rem;
    color: red;

}

#submit-error{
    font-size: 1.4rem;
    color: red;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    /* display: none; */
}