*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    height: 100vh;
    background:#141a34;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form{
    background: #fff;
    width: 90%;
    max-width: 50rem;
    padding:5rem 3rem 2rem;
    border-radius:4px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.5);
    position: relative;
}

.fa-paper-plane{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#fff;
    padding: 2rem;
    font-size: 2.6rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}