input{
    padding: 10px;
    margin: 10px;
}

select{
    padding: 10px;
    width: 20opx;
    margin: 10px;
    cursor: pointer;
}

button{
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
}

li{
    margin:8px 0;
}