.button-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buy-btn{
    background: #3498db;
    color: white;
    width: 10rem;
    padding: 0.5rem;
    border: none;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    cursor: pointer;
}

.stop-btn{
    background: #e74c3c;
    color: white;
    width: 10rem;
    padding: 0.5rem;
     border: none;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    cursor: pointer;
}
.card{
    background: lightcyan;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 15rem;
    border: none;
    border-radius: 1rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: none;
    background: rgb(151, 147, 147);
}
.undo-btn{
    background: white;
    color: #2ecc71;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

#connection-status{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.hidden { 
    display: none; 
}

.show { 
    display: block; 
    background-color: #2ecc71; 
    color: white;
    padding: 10px;
}

.showList{
    list-style: none;
    background: rgb(226, 226, 218);
    padding: 10px 30px;
    margin-top: 30px;
    text-align: center;
    border: none;
    border-radius:10px;
}
.hide{
    display: none;
}
ul h2{
    text-decoration: underline;
}