*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    font-size: 1.6rem;
    line-height:2;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3f9ff;
}

.calculator{
    background: #3a4452;
    padding: 2rem;
    border-radius:1.6rem;
}

.calculator form input{
    border: none;
    outline: none;
    border-radius: 1rem;
   width: clamp(5rem, 6vw, 6rem);
    height: clamp(5rem, 6vw, 6rem);
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin: 1rem;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 4.5rem;
    box-shadow: none;
}

form input.equal{
   width: clamp(12rem, 14vw, 14.5rem);
}

form input.operator{
    color: #33ff;
}

/* @media(max-width:360px){
    form input.equal{
    min-width: 11.6rem;
}
.calculator form input{
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
}

} */