*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feb1,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
    border-radius: 20px;
}

.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius:30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: none;
    outline: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
}

.search button img{
    width: 16px;
    position: absolute;
    top: 22px;
    right:22px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h2{
    font-size: 45px;
    font-weight:400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right:10px;
}

.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    color:#ff5e62;
    display: none;
}

@media (max-width:500px)
{
    .card{
          padding: 40px 10px;
    }

    .search input{
    color: #555;
    padding: 10px 30px;
    margin-right: 5px;
    font-size: 16px;
    height: 50px;
}

.humidity,.wind{
    font-size: 15px;
}
.details{
    padding: 0 5px;
}
.weather-icon{
    width: 150px;
}
.weather h2{
    font-size: 30px;
}
.search button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
}
.col img{
    width: 30px;
    margin-right:10px;
}
.search button img{
    width: 14px;
    position: absolute;
    top: 19px;
    right:19px;
}
}